.coq_globals
\#*#
.depend
.#*
*.vo
*.glob
*.v.d
Makefile.coq
*.log
*.aux
*.bbl
*.out
*.pdf
*.ps
*.blg
*.nav
*.dvi
*.snm
*.toc
Memory.tex
Word32.tex
Janus0.tex
Janus1.tex
BaseLib.tex
MemMonad.tex
Janus.tex
ZStore.tex
W32Store.tex
report/master.lox
*/auto/

/report/_region_.prv/tmp4260fSv/pr1-1.png
/report/_region_.prv/tmp4260fSv/pr1-2.png
/report/_region_.prv/tmp4260fSv/pr1-3.png
/report/_region_.prv/tmp4260fSv/pr1-4.png
/report/_region_.prv/tmp4260fSv/pr1-5.png
/report/_region_.prv/tmp4260fSv/pr1-6.png
/report/_region_.prv/tmp4260fSv/pr1-7.png
/report/_region_.prv/tmp4260fSv/pr1-8.png
/report/_region_.prv/tmp4260fSv/pr1-9.png
/report/_region_.prv/tmp4260sc1/pr1-1.png
/report/_region_.prv/tmp4260sc1/pr1-10.png
/report/_region_.prv/tmp4260sc1/pr1-11.png
/report/_region_.prv/tmp4260sc1/pr1-12.png
/report/_region_.prv/tmp4260sc1/pr1-2.png
/report/_region_.prv/tmp4260sc1/pr1-3.png
/report/_region_.prv/tmp4260sc1/pr1-4.png
/report/_region_.prv/tmp4260sc1/pr1-5.png
/report/_region_.prv/tmp4260sc1/pr1-6.png
/report/_region_.prv/tmp4260sc1/pr1-7.png
/report/_region_.prv/tmp4260sc1/pr1-8.png
/report/_region_.prv/tmp4260sc1/pr1-9.png
/report/_region_.prv/tmp4260sc1/preview.dsc
/report/_region_.tex
/report/prv_master.fmt
