.coq_globals
\#*#
.depend
.#*
*.vo
*.glob
*.v.d
Makefile.coq
*.log
*.aux
*.bbl
*.out
*.pdf
*.ps
*.blg
*.nav
*.dvi
*.snm
*.toc
Memory.tex
Word32.tex
Janus0.tex
Janus1.tex
BaseLib.tex
MemMonad.tex
Janus.tex
ZStore.tex
W32Store.tex
report/master.lox
*/auto/

